*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Philosopher;
}
body{
    width:100%;
    height:100vh;
    background-image: url(Images/scene12.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px;
}
.to-do{
    background: #c53c05;
    width: 100%;
    max-width: 550px;
    margin: 50px auto;
    height:auto;
    border-radius: 20px;
    padding: 20px;
    color:#242066;
}
h3{
    font-size: 1.5rem;
    color: white;
}
#myTitle,input,button{
    text-align: center;
}
.input-field{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 4px;
}
input{
    border: none;
    border-radius: 8px;
    padding: 8px;
    width: 80%;
    font-size: 1.3rem;
}
input:focus{
    outline:none;
}
#btn{
    border: none;
    padding: 8px;
    border-radius: 8px;
    background-color: #c3cf12;
    color: #6C1D45;
    cursor: pointer;
}
ul{
    margin: 0 auto;
}
ul li{
    list-style:none;
    background-color:#99D6EA;
    margin: 10px auto 10px;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    color:#6C1D45;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    left: -30px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: url(Images/unchecked-10.png);
    background-size: cover;
    background-position: center;
}
ul li.checked{
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(Images/checkedImage.png);
}
ul li span{
    color: red;
    position: absolute;
    right:1rem;
    transition: all 25ms ease;
    font-size: 1.5rem;
}
ul li span:hover{
    transform: scale(1.5,1.5);
}























































